<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>TaskManager</title>
</head>
<body>
	<h1>Add New Tag To Task</h1>
	<form id="addTagToTask"
		th:action="@{'/projects/addTagToTask/' + ${task.id}}"
		th:object="${tag}" method="POST">
		<table>
			<tr>
				<td><label for="tagNameInput"> Tag Name </label>
				<td><input id=tagNameInput type="text" placeholder="NAME"
					required th:field="*{name}" /></td>
			</tr>
			<tr>
				<td><label for="tagDescriptionInput"> Tag Description
				</label>
				<td><input id=tagDescriptionInput type="text"
					placeholder="DESCRIPTION" th:field="*{description}" /></td>
			</tr>
			<tr>
				<td><label for="tagColourInput"> Tag Colour
				</label>
				<td><input id=tagColourInput type="text"
					placeholder="COLOUR" th:field="*{colour}"></td>
			</tr>
			<tr>
				<td>
					<button type="submit">Add New</button>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>
