<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>TaskManager</title>
</head>
<body>
	<form th:action="@{/projects/edit/{projectId}}" method="POST">
		<table>
			<tr>
				<td><label for="nameProjectInput"> Nome Progetto </label>
				<td><input id=nameProjectInput type="text"
					placeholder="PROJECT NAME" required th:field="${project.name}" /></td>
				<td th:if="${#fields.hasErrors('project.name')}"
					th:errors="${project.name}" th:style="'color:red'"></td>
			</tr>

			<tr>
				<td><label for="descriptionProjectInput"> Descrizione Progetto </label>
				<td><input id=descriptionProjectInput type="text" placeholder="PROJECT DESCRIPTION"
					required th:field="${project.description}" /></td>
				<td th:if="${#fields.hasErrors('project.description')}"
					th:errors="${project.description}" th:style="'color:red'"></td>
			</tr>
		</table>
		<input type="submit" value="EditProject" />
	</form>
</body>
</html>