<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>TaskManager</title>
</head>
<body>
	<form th:action="@{/users/me/edit}" method="POST">
		<table>
			<tr>
				<td><label for="firstNameInput"> First Name </label>
				<td><input id=firstNameInput type="text"
					placeholder="FIRST NAME" required th:field="${user.firstname}" /></td>
				<td th:if="${#fields.hasErrors('user.firstname')}"
					th:errors="${credentials.firstname}" th:style="'color:red'"></td>
			</tr>

			<tr>
				<td><label for="lastNameInput"> Last Name </label>
				<td><input id=lastNameInput type="text" placeholder="LAST NAME"
					required th:field="${user.lastname}" /></td>
				<td th:if="${#fields.hasErrors('user.lastname')}"
					th:errors="${user.l
					astname}" th:style="'color:red'"></td>
			</tr>
		</table>
		<input type="submit" value="Edit" />
	</form>
</body>
</html>