<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>TaskManager</title>
</head>
<body>
	<form th:action="@{'/projects/editTask/' + ${task.id}}" method="POST">
		<table>
			<tr>
				<td><label for="taskNameInput"> Task Name </label>
				<td><input id=taskNameInput type="text"
					placeholder="TASK NAME" required th:field="${task.name}" /></td>
			</tr>

			<tr>
				<td><label for="taskDescriptionInput"> Task Description </label>
				<td><input id=taskDescriptionInput type="text" placeholder="TASK DESCRIPTION"
					required th:field="${task.description}" /></td>
			</tr>
		</table>
		<input type="submit" value="EditTask" />
	</form>
</body>
</html>