<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>TaskManager</title>
</head>
<body>
	<h1 th:text="${project.name}"></h1>
	<h1 th:text="${project.description}"></h1>
	<div th:if="${members.size() > 0}">
		<h3>Shared with:</h3>
		<ul>
			<li th:each="member : ${members}">
				<div th:text="${member.firstname} + ' ' + ${member.lastname}">
				</div>
			</li>
		</ul>
	</div>
	<h3>Tasks</h3>
	<ul>
		<li th:each="task : ${project.tasks}">
			<div th:text="${task.name}"></div>
			<div th:text="${task.description}" style="color: gray"></div>
			<div>
				<a th:href="@{'/projects/editTask/' + ${task.id}}">Edit Task</a>
			</div>
			<form th:action="@{/projects/{id}/deleteTask(id=${task.id})}"
				method="POST">
				<button type="submit" name="submit" value="value">DELETE</button>
			</form>
		</li>
	</ul>

	<h4>
		<a th:href="@{'/projects/edit/' + ${project.id}}">Edit Project</a>
	</h4>
	<h4>
		<a th:href="@{'/projects/share/' + ${project.id}}">Share Project</a>
	</h4>
	<h4>
		<a th:href="@{'/projects/addTask/' + ${project.id}}">Add Task</a>
	</h4>
</body>
</html>