<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TaskManager</title>
</head>
<body>
	<h1>My Projects</h1>
	<div>
		<table>
			<thead>
				<tr>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="project : ${projectsList}">
					<td><a th:href="'/projects/' + ${project.id}"
						th:text="${project.name}">Project Name </a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>