<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>TaskManager</title>
</head>

<body>
<h1>Your Profile</h1>
    <table>
        <tr>
            <td>Username</td>
            <td th:text="${credentials.username}">...</td>
        </tr>
        <tr>
            <td>First Name</td>
            <td th:text="${user.firstname}">...</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td th:text="${user.lastname}">...</td>
        </tr>
        <tr>
            <td>Role</td>
            <td th:text="${credentials.role}">...</td>
        </tr>
        <tr>
            <td>Registered at: </td>
            <td th:text="${credentials.creationDate}">...</td>
        </tr>

    </table>
    <h4><a href="/users/me/edit">Edit Profile</a></h4>
</body>
</html>